/* BREAKING */

#breaking-container{
    width: 100vw;
    height: auto;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: var(--color-neutro);
}
#breaking-container > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4vw;
  }



.section-content{
    display: flex;
    flex-wrap: wrap;
    

}

#img-breaking{
    width: 40vw;
    height: auto;
    margin-left:7vw;

}

#text-breaking{
    width: 40vw;
}

/* TÍTULOS  */
.titles{
    text-align: center;
    font-family: var(--font-ibm);
    font-size: 72px;
    font-weight: 600;
    color:var(--color-granate);
    text-transform: uppercase;
}

.subtitles{
    text-align: left;
    font-family: var(--font-ibm);
    font-size: 48px;
    font-weight: 600;
    color:var(--color-granate);
    text-transform: uppercase;
    margin-left: 2vw;
}
