@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

:root {
    /* Tipografías */
    --font-poppins: 'Poppins', sans-serif;
    --font-ibm: 'IBM Plex Serif', serif;
  
    /* Colores */
    --color-granate: #C31815;
    --color-oscuro: #2A2A2A;
    --color-neutro: #F2F2F2;

    overflow-x: hidden;

  }

  body {
    font-family: var(--font-poppins);
    color: var(--color-oscuro);
    width: 100vw;
    margin: 0;
  }

  .loader {
    width: 50px;
    margin: 5vh auto;
    aspect-ratio: 1;
    display:grid;
    -webkit-mask: conic-gradient(from 15deg,#0000,#000);
    animation: l26 1s infinite steps(12);
  }
  .loader,
  .loader:before,
  .loader:after{
    background:
      radial-gradient(closest-side at 50% 12.5%,
       #f03355 96%,#0000) 50% 0/20% 80% repeat-y,
      radial-gradient(closest-side at 12.5% 50%,
       #f03355 96%,#0000) 0 50%/80% 20% repeat-x;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
  }
  .loader:after {
    transform: rotate(60deg);
  }
  
  @keyframes l26 {
    100% {transform:rotate(1turn)}
  }
