@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

:root {
    /* Tipografías */
    --font-poppins: 'Poppins', sans-serif;
    --font-ibm: 'IBM Plex Serif', serif;
  
    /* Colores */
    --color-granate: #C31815;
    --color-oscuro: #2A2A2A;
    --color-neutro: #F2F2F2;

    overflow-x: hidden;

  }

  body {
    font-family: var(--font-poppins);
    color: var(--color-oscuro);
  }